# LOADING DATA

In [81]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

file_path = "dirty_cafe_sales.csv"

# Load the latest version
df = kagglehub.dataset_load(
  KaggleDatasetAdapter.PANDAS,
  "ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training",
  file_path
)

In [93]:
# Running this to get a glimpse of the data
df.head(10)

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,08-09-2023
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,16-05-2023
2,TXN_4271903,Cookie,4.0,1.0,4.0,Credit Card,In-store,19-07-2023
3,TXN_7034554,Salad,2.0,5.0,10.0,NaN,NaN,27-04-2023
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,11-06-2023
5,TXN_2602893,Smoothie,5.0,4.0,20.0,Credit Card,NaN,31-03-2023
6,TXN_4433211,Cake/Juice,3.0,3.0,9.0,NaN,Takeaway,06-10-2023
7,TXN_6699534,Sandwich,4.0,4.0,16.0,Cash,NaN,28-10-2023
8,TXN_4717867,Cake/Juice,5.0,3.0,15.0,NaN,Takeaway,28-07-2023
9,TXN_2064365,Sandwich,5.0,4.0,20.0,NaN,In-store,31-12-2023

In [83]:
# Standardize column names.
# Remove leading/trailing spaces, replace spaces with underscores, and convert to lowercase.
df.columns = df.columns.str.strip().str.replace(' ', '_').str.lower()

# Verify the change
print(df.columns)

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date'],
      dtype='object')

# STANDARDIZE 'UNKNOWN','ERRROR' INTO 'NA'.

In [84]:
# First, we want to investigate data quality issues for each column.
# So, we check for each column the unique values and their counts including NaNs.
# Loop through every single column in the dataframe
# then we read the results to try catch anything unusual.
for col in df.columns:
    print(f" Column: {col}")
    
    # Show Value Counts including NaNs 
    print("Value Counts:")
    print(df[col].value_counts(dropna=False))
    # This is just separator for readibility
    print("-" * 30 + "\n")

 Column: transaction_id
Value Counts:
transaction_id
TXN_9226047    1
TXN_8567525    1
TXN_4583012    1
TXN_6796890    1
TXN_9933628    1
              ..
TXN_3160411    1
TXN_7034554    1
TXN_4271903    1
TXN_4977031    1
TXN_1961373    1
Name: count, Length: 10000, dtype: int64
------------------------------

 Column: item
Value Counts:
item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
NaN          333
ERROR        292
Name: count, dtype: int64
------------------------------

 Column: quantity
Value Counts:
quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     171
ERROR       170
NaN         138
Name: count, dtype: int64
------------------------------

 Column: price_per_unit
Value Counts:
price_per_unit
3.0        2429
4.0        2331
2.0        1227
5.0        1204
1.0        1143
1.5        1133
ERROR       190
NaN         179
UNKNOWN     164
Name: count, dtype: int64
------------------------------

 Column: total_spent
Value Counts:
total_spent
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
NaN        173
UNKNOWN    165
ERROR      164
Name: count, dtype: int64
------------------------------

 Column: payment_method
Value Counts:
payment_method
NaN               2579
Digital Wallet    2291
Credit Card       2273
Cash              2258
ERROR              306
UNKNOWN            293
Name: count, dtype: int64
------------------------------

 Column: location
Value Counts:
location
NaN         3265
Takeaway    3022
In-store    3017
ERROR        358
UNKNOWN      338
Name: count, dtype: int64
------------------------------

 Column: transaction_date
Value Counts:
transaction_date
UNKNOWN       159
NaN           159
ERROR         142
2023-06-16     40
2023-02-06     40
             ...
2023-11-24     15
2023-07-30     15
2023-03-11     14
2023-07-22     14
2023-02-17     14
Name: count, Length: 368, dtype: int64
------------------------------

In [ ]:
# Based on the value counts above, we can see that there are several columns that have "ERROR", "UNKNOWN" and nan values.
# We will standardize these values to be nan for easier handling.

import numpy as np

# Define your mapping rules
rules = {
    'ERROR': np.nan,
    'UNKNOWN': np.nan
}

# Apply to the entire DataFrame
df = df.replace(rules)

# FILLNA FOR ITEM COLUMN

In [86]:
# f we take a look at all rows where item is "Coffee", the value for price_per_unit is always 2.0.
# Same thing if we take a look at all rows where item is "Juice", the value for price_per_unit is always 3.0.
# We can see there is consistency in value of price_per_unit for different items
# Meaning we can impute missing or unknown items based on the price per unit.
df[df['item'] == "Coffee"]['price_per_unit']

0       2.0
4       2.0
39      2.0
75      2.0
80      2.0
       ...
9966    2.0
9969    2.0
9990    2.0
9995    2.0
9997    2.0
Name: price_per_unit, Length: 1165, dtype: object

In [87]:
# Create a mapping dictionary from price_per_unit to item
price_grouping = (
    df[df['item'].notna()]  #  filter out NaN values, we only want to map known items.
    .groupby('price_per_unit')['item'] # group by price_per_unit and get the item values. e.g price_per_unit = 2.0 -> ["Coffee", "Coffee", ...]
    .unique() # makes sure each item is only listed once per price bucket. You don't want a dictionary that says 1.0: "Cookie, Cookie, Cookie..."
    .apply(lambda x: "/".join(map(str, x))) # some prices might map to multiple items, so we join them with a slash. e.g 3.0: "Cake/Juice"
    .to_dict() # convert to dictionary for mapping  
)

print(price_grouping)

{'1.0': 'Cookie', '1.5': 'Tea', '2.0': 'Coffee', '3.0': 'Cake/Juice', '4.0': 'Smoothie/Sandwich', '5.0': 'Salad'}

In [88]:
# Before using the mapping, ensure the price_per_unit column is numeric float, as it might have been read as object/string type.
import pandas as pd

df['price_per_unit'] = pd.to_numeric(df['price_per_unit'], errors='coerce')

# Price_per_unit is float, but we also need to make sure the keys in the mapping dictionary 'price_grouping' are also float.
# So we convert them.
clean_mapping = {float(k): v for k, v in price_grouping.items()}

# Now we can use this mapping to fill in the missing item values.
df['item'] = df['item'].fillna(df['price_per_unit'].map(clean_mapping))

In [89]:
# Let's verify our fillna, we have two conditions : item is naN AND price_per_unit is NOT NaN. filter this should give us 0 rows.
# We should still have Nan for item if price_per_unit is also NaN.
missing = df['item'].isna() & df['price_per_unit'].notna()

print(f"Item is Nan X price_per_unit notNan count: {missing.sum()}")

Item is Nan X price_per_unit notNan count: 0

# FILLNA FOR QUANTITY, PRICE PER UNIT, TOTAL SPENT

In [90]:
# Next,for 3 columns, quantity, price_per_unit, total_price is connected via a formula:
# total_price = quantity * price_per_unit
# So we can use this formula to impute missing values in any of these 3 columns
# We will create a function on condition that only one of the 3 columns is missing, we can calculate it from the other two.
# If more than one is missing, we cannot impute it.

# Define the columns we are working with
# Purposely using col2 to avoid confusion with col defined earlier
col2 = ['quantity', 'price_per_unit', 'total_spent']

# Convert string columns to float
for c in col2:
    df[c] = pd.to_numeric(df[c], errors='coerce')

# Create a mask for rows where exactly ONE value is missing
mask_one_missing = df[col2].isnull().sum(axis=1) == 1


# Calculate Missing 'total_spent'
df.loc[mask_one_missing & df['total_spent'].isnull(), # filter rows with one missing and total_spent is missing
    'total_spent'] = df['quantity'] * df['price_per_unit'] # then use formula

#  Calculate Missing 'quantity'
df.loc[mask_one_missing & df['quantity'].isnull(), 'quantity'] = \
    df['total_spent'] / df['price_per_unit']

# Calculate Missing 'price_per_unit'
df.loc[mask_one_missing & df['price_per_unit'].isnull(), 'price_per_unit'] = \
    df['total_spent'] / df['quantity']

In [91]:
# Lets verify this
# 'col2' and 'mask_one_missing' are already defined above
# This should produce 0

print(f"Rows with exactly one missing value among {col2}: {mask_one_missing.sum()}")

Rows with exactly one missing value among ['quantity', 'price_per_unit', 'total_spent']: 1398

In [92]:
# Lastly, we standardize the transaction_date column to dd-mm-yyyy format. just because we can.
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce').dt.strftime('%d-%m-%Y')

# Verify the change
print(df['transaction_date'].head())

0    08-09-2023
1    16-05-2023
2    19-07-2023
3    27-04-2023
4    11-06-2023
Name: transaction_date, dtype: object